:root {
    --matrix-length-D: 0;
    --matrix-length-T: 0;
}

/*removes input type=1  number increment/decrement buttons*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


h1 {
    text-align: center;

    padding: 20px;

    font-size: 50px;
    font-weight: 800;
}

#div1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8fr 2fr;

    grid-template-areas: 
    "matrix1 matrix2"
    "button button";
}

.inputContainer {
    /* add same properties here from both containers below*/
}

#container1 {
    grid-area: matrix1;
    justify-self: center;
    align-self: center;

    height: 200px;
    width: 200px;

    display: grid;
    grid-template-columns: repeat(var(--matrix-length-D), 1fr);
    grid-template-rows: repeat(var(--matrix-length-D), 1fr);
}

#container2 {
    grid-area: matrix2;
    justify-self: center;
    align-self: center;

    height: 200px;
    width: 200px;

    display: grid;
    grid-template-columns: repeat(var(--matrix-length-T), 1fr);
    grid-template-rows: repeat(var(--matrix-length-T), 1fr);
}

.matrix-inputs {
    height: 25px;
    width: 25px;
    background-color: lightcyan;
}

button {
    grid-area: button;
}